.post-form{
    width: 60rem;
    height: 25rem;
    border: 0.1rem solid #707070;
    position: relative;
    top: 10rem;
    margin:auto;
}

#myFile{
    cursor: pointer;
    margin-top: 3.1rem;
    margin-left: 5rem;
    width: 50rem;
    height: 3.2rem;
}

/* .post-form:first-child{
   
    
} */

.Author-Location{
    margin-top: 2rem;
    display: inline-block;
}

#author{
    top: 3rem;
    width: 20rem;
    height: 3.2rem;
    margin-left: 5rem;
    padding-left: 1rem;
    border: 0.1rem solid #707070;
    border-radius: 0.5rem;
    outline: none;
}

#location{
    top: 3rem;
    width: 20rem;
    height: 3.2rem;
    margin-left: 10rem;
    padding-left: 1rem;
    border: 0.1rem solid #707070;
    border-radius: 0.5rem;
    outline: none;
}

#description{
    width: 50rem;
    height: 3.2rem;
    margin-top: 2.5rem;
    margin-left: 5rem;
    padding-left: 1rem;
    border: 0.1rem solid #707070;
    border-radius: 0.5rem;
    outline: none;
}

#post-btn{
    width: 10rem;
    height: 3.2rem;
    /* margin-top: 2.6rem;  */
    /* margin-left: 25rem; */
    /* border: 0.1rem solid #707070; */
    text-align: center;
    /* border-radius: 0.5rem; */
    cursor: pointer;
    /* box-sizing: content-box; */
}

#post-btn-parent{
    width: 10rem;
    height: 3.2rem;
    margin-left: 25rem;
    margin-top: 2.6rem;
    /* border: 0.1rem solid #707070; */
    border-radius: 0.5rem;
}

#postbtn-link-to-post-view-page{
    /* background-color: red; */
    /* width: 100%;
    height: 3rem; */
}


@media(max-width: 750px){
    .post-form{
        margin-top: 20%;
        /* border: none;  */
    }
}

@media(max-width: 480px){
    .post-form{
        margin-top: 35%;
        border: none; 
    }
}